body{
	font-family: Verdana, Geneva, sans-serif;
	font-size: 16px;
	background-color: #F5F5F5;
	line-height: 1.6em;
	margin: 0px;
}

#clr{
	clear: both;
}

.navcontainer{
	width: 95%;
	margin: auto;
	overflow: hidden;
}

#main-nav{
	background-color: #101010;
}
.navcontainer ul{
	text-align: center;
	padding: 0px;

}

.navcontainer img{
	margin: 0px;
	padding: 0px;
}


.navcontainer li{
	display: inline-block;
}

.navcontainer a{
	transition: 0.3s ease;
	color: #C0C0C0;
	padding: 20px;
	font-size: 14px;
	text-decoration: none;
	font-weight: bold;
}

.navcontainer a:hover{
	color: white;	 
}

#hero-image{
	background-image: url('images/profile/profilePic.png');
	background-repeat: no-repeat;
	background-color: #d3d3d3; 
  	background-position: left;
  	background-repeat: no-repeat;
  	background-size: 500px;
  	position: relative;
  	padding: 230px;
}

.hero-text{
	float: right;

}

.myname{
	font-weight: bold;
}

.nameinfo{

}

#main-familybg{
	margin: auto;
	margin-top: 30px;
	width: 80%;
	display: block;
}

.family-head{
	text-align: center;
}

.fam-photos{
	text-align: center;
	padding: 10px
}

.family-text{
	margin: auto;
	text-align: center;
	width: 60%;
	color: #484848;
}


#main-hobbies{
	margin: auto;
	margin-top: 30px;
	display: block;
	background-color: #707070;
}

.hobby-head{
	padding-top: 20px;
	text-align: center;
	color: white;
}

.hobicons{
	text-align: center;
}

.hobicons img{
	padding: 30px;
}

.hobby-text{
	margin: auto;
	width: 60%;
	text-align: center;
	padding-bottom: 20px;
	color: #F5F5F5;
}

#main-skill-t{
	margin: auto;
	margin-top: 30px;
	display: block;
}

.skillt-head{
	padding-top: 2px;
	text-align: center;
}

.skillt-text{
	margin: auto;
	width: 60%;
	text-align: center;
	padding-bottom: 20px;
	color: #484848;
}

#main-sw{
	margin: auto;
	margin-top: 30px;
	display: block;
	background-color: #707070;
}

.s-head{
	padding-top: 30px;
	text-align: center;
	color: white;
}

.s-text{
	margin: auto;
	width: 60%;
	text-align: center;
	padding-bottom: 20px;
	color: #F5F5F5;
}

.w-head{
	padding-top: 20px;
	text-align: center;
	color: white;
}

.w-text{
	margin: auto;
	width: 60%;
	text-align: center;
	padding-bottom: 30px;
	color: #F5F5F5;
}

#main-future{
	margin: auto;
	margin-top: 30px;
	display: block;
}

.future-head{
	padding-top: 2px;
	text-align: center;
}

.future-text{
	margin: auto;
	width: 60%;
	text-align: center;
	padding-bottom: 50px;
	color: #484848;
}

#main-footer{
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #101010;

}

.footer-text{
	padding: 30px;
}

.footer-text p{
	color: white;
	text-align: center;
	font-size: 10px;
}

.footer-text hr{
	color: white;
	text-align: center;
	width: 70em;
}